[Unit]
Description=Break Reminder

[Service]
EnvironmentFile=-%E/break-reminder.env
ExecStart=%h/.local/bin/break-reminder $BREAK_REMINDER_ARGS

[Install]
WantedBy=gnome-session.target
